[Mode]
# You can turn debug one here
# debug = True

[Glidein]
# Use your host domain and the port assigned
# in the following format: http://domain.com:port/jsonrpc
address = http://opteron03.crc.nd.edu:50000/jsonrpc
ssh_state = False
# Use delay < 0 to only run the client once, and some number in seconds
# to run it as a server and send monitoring info every X seconds.
delay = -1

# This is the pyglidein location and tarball name
loc = /stash/user/khurtado/pyglidein_fromnd
tarball = glidein.tar.gz
executable = glidein_start.sh

[Cluster]
# Use your username here:
user = khurtado
os = RHEL6
scheduler = HTCondor
submit_command = condor_submit

# Select job limits
max_total_jobs = 1500
limit_per_submit = 150
gpu_only = False

# Select 
running_cmd = condor_q khurtado|grep khurtado|wc|awk '{print $1}'

[SubmitFile]
# The submit file that will be created
filename = submit.jdl
env_wrapper_name = env_wrapper.sh
custom_header = "universe=vanilla"
